[submodule "opt/lcls2"]
	path = opt/lcls2
	url = https://github.com/JBlaschke/lcls2.git
[submodule "opt/divelite"]
	path = opt/divelite
	url = https://github.com/JBlaschke/divelite.git
[submodule "opt/cctbx_profiling"]
	path = opt/cctbx_profiling
	url = https://github.com/JBlaschke/cctbx_profiling.git
[submodule "run/psana-nersc"]
	path = run/psana-nersc
	url = https://github.com/JBlaschke/psana-nersc.git
[submodule "opt/cctbx/modules/annlib_adaptbx"]
	path = opt/cctbx/modules/annlib_adaptbx
	url = https://github.com/cctbx/annlib_adaptbx.git
[submodule "opt/cctbx/modules/boost"]
	path = opt/cctbx/modules/boost
	url = https://github.com/cctbx/boost.git
[submodule "opt/cctbx/modules/cbflib"]
	path = opt/cctbx/modules/cbflib
	url = https://github.com/yayahjb/cbflib.git
[submodule "opt/cctbx/modules/cctbx_project"]
	path = opt/cctbx/modules/cctbx_project
	url = https://github.com/cctbx/cctbx_project.git
[submodule "opt/cctbx/modules/dials"]
	path = opt/cctbx/modules/dials
	url = https://github.com/dials/dials.git
[submodule "opt/cctbx/modules/dxtbx"]
	path = opt/cctbx/modules/dxtbx
	url = https://github.com/cctbx/dxtbx.git
[submodule "opt/cctbx/modules/xia2"]
	path = opt/cctbx/modules/xia2
	url = https://github.com/xia2/xia2.git
[submodule "opt/cctbx/modules/annlib"]
	path = opt/cctbx/modules/annlib
	url = https://github.com/cctbx/annlib.git
[submodule "opt/cctbx/modules/ccp4io"]
	path = opt/cctbx/modules/ccp4io
	url = https://github.com/cctbx/ccp4io.git
[submodule "opt/cctbx/modules/ccp4io_adaptbx"]
	path = opt/cctbx/modules/ccp4io_adaptbx
	url = https://github.com/cctbx/ccp4io_adaptbx.git
[submodule "opt/cctbx/modules/clipper"]
	path = opt/cctbx/modules/clipper
	url = https://github.com/cctbx/clipper.git
[submodule "opt/cctbx/modules/eigen"]
	path = opt/cctbx/modules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "opt/cctbx/modules/gui_resources"]
	path = opt/cctbx/modules/gui_resources
	url = https://github.com/cctbx/gui_resources.git
[submodule "opt/cctbx/modules/tntbx"]
	path = opt/cctbx/modules/tntbx
	url = https://github.com/cctbx/tntbx.git
