# Don't track local settings
*.local

# Don't track local conda install
conda/miniconda3/
conda/tmp/

# Don't track local cctbx install
opt/cctbx/build/

# Dot track extracted statics
opt/cctbx/modules/cxi_user/
opt/cctbx/modules/msgpack-3.1.1/
opt/cctbx/modules/scons/
